<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CurrencyInfoConfiguration"
				 type="parsing.Configuration.CurrencyInfoSection,parsing" />
	</configSections>
	<CurrencyInfoConfiguration>
		<CurrencyInfo Key="1"
					  Symbol="$"
					  Link="/html/body/main/div/div/div/div[3]/div/table/tbody/tr[15]/td[5]"/>
		<CurrencyInfo Key="2"
					  Symbol="€"
					  Link="/html/body/main/div/div/div/div[3]/div/table/tbody/tr[16]/td[5]"/>
		<CurrencyInfo Key="3"
					  Symbol="£"
					  Link="/html/body/main/div/div/div/div[3]/div/table/tbody/tr[39]/td[5]"/>
	</CurrencyInfoConfiguration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>